# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger: none

pool:
  name: MyAgentPool

steps:

- task: TerraformInstaller@1
  displayName: Install Terraform
  inputs:
    terraformVersion: '1.14.4'

- script: |
    echo "PATH=$PATH"
    which terraform
    terraform -v
  displayName: Debug Terraform

- task: TerraformTask@5
  displayName: Terraform Init (AzureRM Backend)
  inputs:
    provider: 'azurerm'
    command: 'init'

    # Service connection (MANDATORY)
    backendServiceArm: 'aksdemo-serviceconnection'
    environmentServiceNameAzureRM: 'aksdemo-serviceconnection'
    useAzureRmAuthentication: true

    # Backend details (ALL mandatory)
    backendAzureRmResourceGroupName: 'tfstate-rg'
    backendAzureRmStorageAccountName: 'tfstateaksdemo'
    backendAzureRmContainerName: 'tfstate'
    backendAzureRmKey: 'aks/dev/terraform.tfstate'

- task: AzureCLI@2
  displayName: Terraform Plan
  inputs:
    azureSubscription: 'aksdemo-serviceconnection'   # your service connection
    scriptType: bash
    scriptLocation: inlineScript
    inlineScript: |
      echo "Checking ARM env vars"
      env | grep ARM_

      terraform version
      terraform init
      terraform plan

#- task: TerraformTask@5
#  displayName: Terraform Plan
#  inputs:
#    provider: 'azurerm'
#    command: 'plan'
#    environmentServiceNameAzureRM: 'aksdemo-serviceconnection'
