# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml
trigger: none

pool:
  name: MyAgentPool

variables:
- group: terraform-secrets  

steps:
- task: TerraformInstaller@1
  displayName: Install Terraform
  inputs:
    terraformVersion: '1.14.4'

- task: TerraformTask@5
  displayName: Terraform Init
  inputs:
    provider: azurerm
    command: init
    backendServiceArm: aksdemo-serviceconnection
    backendAzureRmResourceGroupName: tfstate-rg
    backendAzureRmStorageAccountName: tfstateaksdemo
    backendAzureRmContainerName: tfstate
    backendAzureRmKey: aks/dev/terraform.tfstate

- task: TerraformTask@5
  displayName: Terraform Plan
  env:
    ARM_CLIENT_ID: $(AZURE_CLIENT_ID)
    ARM_CLIENT_SECRET: $(AZURE_CLIENT_SECRET)
    ARM_TENANT_ID: $(AZURE_TENANT_ID)
    ARM_SUBSCRIPTION_ID: $(AZURE_SUBSCRIPTION_ID)  
  inputs:
    provider: azurerm
    command: plan
   # environmentServiceNameAzureRM: aksdemo-serviceconnection


#- task: TerraformTask@5
#  displayName: Terraform Plan
#  inputs:
#    provider: 'azurerm'
#    command: 'plan'
#    environmentServiceNameAzureRM: 'aksdemo-serviceconnection'
